
body {
  font-family: "Arial", cursive;
  background-image: url('../img/background.png');
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}


#task-frontend {
  border: 4px solid transparent;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(195, 195, 195, 0.6);
	max-width: 40%;
  margin: 100px auto;
	text-align: center;
}


#task-frontend svg {
  margin-top: 5px;
  width: 10%;
  height: auto;
}

#task-frontend .basic-title {
  color: white;
  margin: 5px;
}

#task-frontend .form-line {
}


#task-frontend form>label {
	margin: 10px auto 0 auto;
  color: white;
}

#task-frontend input[type="text"], #task-frontend input[type="email"] {
  display: block;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 30px;
}

#task-frontend span {
  display: block;
}

#task-frontend table {
    border: none;
    width: 90%;
    height: 100%;
    margin: auto;
}
#task-frontend th, td {
  border: none;
}
#task-frontend button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  max-height: 40px;
  text-align: left;
  transition-duration: 0.4s
}

#task-frontend button:hover {
  background-color: orange;
}
#task-frontend input[type="checkbox"] {
  border: 1px solid red;
	text-transform: none;
}

#task-frontend input[type="submit"] {
	color: white;
  background-color: #FAA21B;
  border-color: transparent;
  border-radius: 5px;
	margin-top: 10px;
	width: 95%;
	height: 30px;
	text-align: center;
  font-weight: bold;
}
